
/* Global settings */
$body-bg: rgb(250, 250, 250);
$font-stack:    Helvetica, sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$theme-colors: (
    "primary":  #15576b,
    "kindaBlu":  #7a9ba5,
    "danger": #6b2f15,
    "secondary": #474e52,
    "superdark": #353535,
    "info": rgb(56, 134, 141)
);



* {
  border-radius: 0 !important;
  font-family: 'Roboto', sans-serif;
}

@import "node_modules/bootstrap/scss/bootstrap";

